html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.App {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}